### Feedback
1. Organization
   - Keep imported libraries to just what will be used within the notebook
2. Data Structures
   - Well-executed, thorough, and detailed checking of erroneous values and duplicate values in all 4 datasets during data cleaning
   - Explain why missing values were imputed with the mode instead of the mean or median, and compare the distributions before and after imputation to see if there is any major change
   - Columns with "  T" as values have trace amounts of it so a more appropriate form of imputation would be a value close to 0
   - Feature engineering done is sensible and relevant
   - Check that all plots are visible as map plots have been hidden and could not be displayed
   - EDA is comprehensive and covers many variables
   - Good effort made at providing interpretations for all visualisations
   - Plots can be improved by renaming axis labels instead of leaving them as column names
3. Python Syntax and Control Flow
   - Good
4. Probability and Statistics
   - Attempt to provide descriptive statistics for all columns and an explanation of any unusual numbers
5. Modeling
   - Pick dark colours to show points on a gray map to improve visibility
   - Good use of an all-in-one function to handle the modelling pipeline
   - Provide an overview of the transformers, resamplers, models, and metrics that will be used before diving into it proper
   - Briefly explain the purpose of applying techniques such as SMOTE
   - Confusion matrix: Rename axis tick labels instead of leaving them as 0/1, Rename axis labels instead of leaving them as True label/Predicted label
   - Discuss model under/over-fittedness and potential benefits/shortcomings of picking one model over the other
   - Give an explanation as to why certain features were found to be more important than other features in the final model
   - Good job on a great Kaggle competition score
   - Cost-benefit analysis is detailed and well-calculated
6. Presentation
   - Slide style and theme was consistent throughout
   - Could elaborate more on feature engineering

### Scores
1. Organization: 3
2. Data Structures: 2
3. Python Syntax and Control Flow: 3
4. Probability and Statistics: 2
5. Modeling: 2
6. Presentation: 3

# Project 4: West Nile Virus Prediction

Authors: Cheong Hao Han, Phua Jia Qing, Choo Wende

--------

## Background & Outside Research

#### **West Nile Virus**
West Nile virus (WNV) is the leading cause of mosquito-borne disease in the continental United States. It is most commonly spread to people by the bite of an infected mosquito. Roughly 20% of people who are infected develop a fever and other symptoms which could lead to a more serious and fatal illness. Only certain species of mosquitoes can transmit WNV as shared by ([*source*](https://www.sgvmosquito.org/west-nile-virus)). 

#### **Culex Pipiens**
The species - Culex Pipiens is considered the primary bridge of WNV to humans. A study done on Culex Pipiens on how is the lifespan affected by temperature. The results shows that lifespan increased when tempareture is decreased and vice versa. In terms of sex, female displayed a 1.2-1.4-fold longer longevity compared to the males. One can understand more from ([*source*](https://pubmed.ncbi.nlm.nih.gov/25284257/)).

#### **Life Cycle of a Mosquito**
Mosquitoes have 4 life stages: egg, larve, pupa and adult. The entire life cycle (from an egg to an adult) takes approximately 8-10 days as shared by CDC (Centers for Disease Control and Prevention) ([*source*](https://www.cdc.gov/dengue/resources/factsheets/mosquitolifecyclefinal.pdf)). Under normal conditions, the average adult mosquito generally lives for approximately 2-3 weeks outdoors and lives for approximately 1 month indoors as shared by MMPC ([*source*](https://www.mandmpestcontrol.com/how-long-do-mosquitoes-live-and-what-that-means-for-you/)).

#### **West Nile Virus Peak Season and Optimal Conditions**
Most cases of WNV happens during mosquito season, which starts in summer and continues through fall. This is due to the fact that mosquitoes breed in water. The 'Preventive Pest Control' blog shares some weather patterns that aid mosquitoes breeding. One can understand more from ([*source*](https://www.orkin.com/pests/mosquitoes/when-are-mosquitoes-most-active)). Some factors are:

- Rain Water
  - Flooding rains are ideal for mosquitoes to lay their egg.
  - When a water is stagnate, which is often the case with flood waters, there is a much greater chance that mosquitoes will lay eggs.

- Precipitation
  - Heavy rainfall may injure flying, exposed mosquitoes and force them to seek shelter, thus preventing flight.

- Higher Temperature
  - Hot weather actually shortens the incubation time of mosquito eggs.
  - Research also shows that number of mosquitoes carrying disease like West Nile is increased by warmer weather.


#### **Mosquitoes Activity**
Mosquitoes are most active at night and are likely to start to bite early in the evening. Hence, the best time to kill adult mosquitoes is to spray at dusk, when they are most active and looking for people to bite. Mosquitoes activity are affected by:

- Humidity 
  - High humidity conditions favor mosquito activity.
  - While low humidity suppresses activity and may even cause mortality.

- Wind
  - Mosquitoes generally are not strong flyers therefore, mild, little or no wind would be good for mosquito activity.

## Problem Statement

West Nile Virus (WNV) is a deadly virus that should not be taken lightly. Hence, Chicago Department of Public Health (CDPH) had established a comprehensive surveillance and control system by setting up traps for mosquitoes in order to test for the presence of WNV. CDPF have partnered with us for this research.

The purpose of this research is to develop a model which predicts the presence of West Nile Virus (WNV) at various areas and time. The model aims to:

- Predict areas with probable surge in number of WNV in advance.
- Propose practicable solutions to mitigate spread of WNV in the identified areas. 

Using these information, we would be able to make inform decisions on where and when to deploy pesticides in Chicago. This way, we can maximise the effectiveness of pesticide while minimising monetary expenses.

## Executive Summary

West Nile virus (WNV) is the leading cause of mosquito-borne disease in the United States. We are working supporting the Chicago Department of Public Health (CDPH) to established a comprehensive surveillance and control system by developing a WNV presence prediction model to:
1. Predict areas with probable surge in number of WNV in advance.
2. Propose practicable solutions to mitigate spread of WNV in the identified areas.

The Logistic Regression model has the highest ROC AUC score (0.729) and performs the best in distinguishing between traps with and without WNV presence.The model identified key features that are dominant in predicting the presence of WNV, e.g. season trends, day duration, temperature, humidity. 

Spraying is recommneded around mid July where weather conditions favours mosquitos activities. As spraying is costly, it should be done in the areas with top number of mosquitos and WNV present historically:  

1. T900: ORD Terminal 5, O'Hare International Airport
2. T115: South Doty Avenue, Chicago, IL, USA
3. T002: 4100 North Oak Park Avenue, Chicago, IL 60634,

## Content

**Part 1: Data Cleaning and Processing**
<br>
_(Project_4_Part1_WJH.ipynb)_
1. Weather Data
2. Spray Data
3. Train and Test Data
4. Merge and Save DataFrame

**Part 2: Exploratory Data Analysis**
<br>
_(Project_4_Part2_WJH.ipynb)_
1. Map Overview of Data
2. Train Data Analysis
3. Weather Data Analysis
4. Spray Data Analysis

**Part 3: Modelling**
<br>
_(Project_4_Part3_WJH.ipynb)_
1. Preprocessing
2. Modelling
3. Model Comparison
4. Kaggle Submission
5. Cost-Benefit Analysis
6. Conclusion & Recommendations

## Data Dictionary

| **Dataset** | **Features**                                                                                                                                                  | **Year Available for** |
|-------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------|
| **Weather** | - Date<br/> - Temperature<br/> - Sunset/Sunrise Timing<br/> - Precipitation<br/>                                                                              | 2007-2014              |
| **Spray**   | - Date<br/> - Time<br/> - Location<br/>                                                                                                                       | 2011 & 2013            |
| **Train**   | - Date<br/> - Location of Mosquitos<br/> - Mosquitos Species</br> - Location of Trap<br/> - Number of Mosquito Caught<br/> - Presence of West Nile Virus<br/> | 2007, 2009, 2011, 2013 |
| **Test**    | Same as Train, excluding Number of Mosquito Caught and Presence of West Nile Virus                                                                            | 2008, 2010, 2012, 2014 |

## Libraries

In [ ]:
#pip install geopy

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime, date
from geopy.distance import geodesic

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, \
GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report, \
accuracy_score, recall_score, precision_score, f1_score, silhouette_score, roc_auc_score
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Part 1: Data Cleaning and Processing

In [ ]:
# Mount Google Drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Weather Data

In [ ]:
# use when running from colab
PATH = '/content/drive/MyDrive/DSI30/'

# use when running on local machine
# PATH = '../'

In [ ]:
weather_df = pd.read_csv(f'{PATH}data/weather.csv')

Basic exploration of the weather dataset

In [ ]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [ ]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Sunrise      2944 non-null   object
 11  Sunset       2944 non-null   object
 12  CodeSum      2944 non-null   object
 13  Depth        2944 non-null   object
 14  Water1       2944 non-null   object
 15  SnowFall     2944 non-null   object
 16  PrecipTotal  2944 non-null   object
 17  StnPressure  2944 non-null   object
 18  SeaLevel     2944 non-null   object
 19  ResultSpeed  2944 non-null   float64
 20  ResultDir    2944 non-null   int64
 21  AvgSpeed     2944 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

Check the Date column if there are any outliers

In [ ]:
weather_df['Date'].sort_values(ascending=True)

0       2007-05-01
1       2007-05-01
2       2007-05-02
3       2007-05-02
4       2007-05-03
           ...
2939    2014-10-29
2940    2014-10-30
2941    2014-10-30
2942    2014-10-31
2943    2014-10-31
Name: Date, Length: 2944, dtype: object

There are no duplicate values in weather datasets

In [ ]:
weather_df.duplicated().value_counts()

False    2944
dtype: int64

There are no null values as missing data are marked as 'M'

In [ ]:
weather_df.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [ ]:
weather_df[weather_df=='M'].count()

Station           0
Date              0
Tmax              0
Tmin              0
Tavg             11
Depart         1472
DewPoint          0
WetBulb           4
Heat             11
Cool             11
Sunrise           0
Sunset            0
CodeSum           0
Depth          1472
Water1         2944
SnowFall       1472
PrecipTotal       2
StnPressure       4
SeaLevel          9
ResultSpeed       0
ResultDir         0
AvgSpeed          3
dtype: int64

Tavg is the average of Tmax and Tmin

In [ ]:
weather_df["Tavg"] = round((weather_df["Tmax"] + weather_df["Tmin"]) / 2)

Get the list of columns with "M" count more than 0

In [ ]:
M_col_list = [col for col in weather_df.columns 
              if len(weather_df[weather_df[col] == 'M']) > 0 
              and col not in ("Depart", "Depth", "Water1", "SnowFall")]

M_col_list

['WetBulb',
 'Heat',
 'Cool',
 'PrecipTotal',
 'StnPressure',
 'SeaLevel',
 'AvgSpeed']

Get the list of columns with "  T" count more than 0

In [ ]:
T_col_list = [col for col in weather_df.columns 
              if len(weather_df[weather_df[col] == '  T']) > 0 ]

T_col_list

['SnowFall', 'PrecipTotal']

Create a function to replace M and T with mode values

In [ ]:
def replace_letter(df, col_list, target):
    for col in col_list:
        mode = df[col].mode()
        df[col].replace(target, mode[0], inplace=True)

In [ ]:
replace_letter(weather_df, M_col_list, "M")

In [ ]:
replace_letter(weather_df, T_col_list, "  T")

Since these columns have at least 50% of the data missing, the columns will not be useful for modelling.

In [ ]:
weather_df.drop(columns = ["Depart", "Depth", "Water1", "SnowFall"], inplace=True)

Converting date to datetime format

In [ ]:
# Convert date column to datetime
weather_df["Date"] = pd.to_datetime(weather_df["Date"])

For empty sunrise and sunset value in station 2, we assume the value to be the same as station 1 since both stations are near to each other.

In [ ]:
for i in range(len(weather_df)):
    if i %2 != 0:
        weather_df.loc[i, "Sunrise"] = weather_df.loc[i-1, "Sunrise"]
        weather_df.loc[i, "Sunset"] = weather_df.loc[i-1, "Sunset"]

In [ ]:
# Check for error in sunset timing. 
sunset_time=[]

for i, time in enumerate(weather_df["Sunset"]):
    if int(time[2:4]) > 59:
        sunset_time.append(time)

In [ ]:
# Display erroneous sunset time. 
set(sunset_time)

{'1660', '1760', '1860'}

In [ ]:
# Correct errorneous sunset time
for i, t in enumerate(weather_df["Sunset"]):
    if t=='1660':
        weather_df.loc[i, "Sunset"] = '1700'
    elif t=='1760':
        weather_df.loc[i, "Sunset"] = '1800'
    elif t=='1860':
        weather_df.loc[i, "Sunset"] = '1800'

In [ ]:
# Convert sunset time format
weather_df['Sunrise'] = weather_df['Sunrise'].map(lambda t: dt.datetime.strptime(t,'%H%M').strftime('%H:%M'))
weather_df['Sunset'] = weather_df['Sunset'].map(lambda t: dt.datetime.strptime(t,'%H%M').strftime('%H:%M'))

In [ ]:
# Create DayDuration column and drop sunset and sunrise time. 
weather_df['DayDuration']= pd.to_datetime(weather_df['Sunset'])-pd.to_datetime(weather_df['Sunrise'])
weather_df.drop(columns=['Sunrise', 'Sunset'], inplace=True)

In [ ]:
weather_df['DayDuration'] = (weather_df['DayDuration'] / np.timedelta64(1,'m')).astype(int)

Relative Humidity: =100*(EXP((17.625*TD)/(243.04+TD))/EXP((17.625*T)/(243.04+T)))

TD: Tavg_C (Temperature in celcius)

T: DewPoint_C (Dewpoint in celcius)

([*source*](https://bmcnoldy.rsmas.miami.edu/Humidity.html))

In [ ]:
# Humidity
Tavg_C = ((weather_df['Tavg'] - 32) * 5 / 9) #temperature in celcius
DewPoint_C = ((weather_df['DewPoint'] - 32) * 5 / 9) #dewpoint in celcius
Saturation_Vapor_Pressure = np.exp((17.625 * Tavg_C) / (Tavg_C + 243.04)) #calculate vapor pressure saturation
Actual_Vapor_Pressure = np.exp((17.625 * DewPoint_C) / (DewPoint_C + 243.04)) #calculate actual vapor pressure
R_Humidity = (Actual_Vapor_Pressure / Saturation_Vapor_Pressure) * 100

weather_df['R_Humid'] = R_Humidity

Drop the CodeSum column as it should be highly related with PrecipTotal column. The values inside CodeSum are mainly related to rain, thunderstorm, haze and etc.

In [ ]:
weather_df.drop(columns = ["CodeSum"], inplace=True)

In [ ]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,DayDuration,R_Humid
0,1,2007-05-01,83,50,66.0,51,56,0,2,0.00,29.10,29.82,1.7,27,9.2,841,58.426325
1,2,2007-05-01,84,52,68.0,51,57,0,3,0.00,29.18,29.82,2.7,25,9.6,841,54.526426
2,1,2007-05-02,59,42,50.0,42,47,14,0,0.00,29.38,30.09,13.0,4,13.4,843,73.885706
3,2,2007-05-02,60,43,52.0,42,47,13,0,0.00,29.44,30.08,13.3,2,13.4,843,68.614962
4,1,2007-05-03,66,46,56.0,40,48,9,0,0.00,29.39,30.12,11.7,7,11.9,845,54.874919

In [ ]:
# Display weather_df summary
print(weather_df.info())
print(weather_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   datetime64[ns]
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   float64
 5   DewPoint     2944 non-null   int64
 6   WetBulb      2944 non-null   object
 7   Heat         2944 non-null   object
 8   Cool         2944 non-null   object
 9   PrecipTotal  2944 non-null   object
 10  StnPressure  2944 non-null   object
 11  SeaLevel     2944 non-null   object
 12  ResultSpeed  2944 non-null   float64
 13  ResultDir    2944 non-null   int64
 14  AvgSpeed     2944 non-null   object
 15  DayDuration  2944 non-null   int64
 16  R_Humid      2944 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(7)
memory usage: 391.1+ KB
None
   Station       Date  Tmax  Tmin  Tavg  DewPoint WetBulb Heat Cool  \
0        1 2007-05-01    83    50  66.0        51      56    0    2
1        2 2007-05-01    84    52  68.0        51      57    0    3
2        1 2007-05-02    59    42  50.0        42      47   14    0
3        2 2007-05-02    60    43  52.0        42      47   13    0
4        1 2007-05-03    66    46  56.0        40      48    9    0

  PrecipTotal StnPressure SeaLevel  ResultSpeed  ResultDir AvgSpeed  \
0        0.00       29.10    29.82          1.7         27      9.2
1        0.00       29.18    29.82          2.7         25      9.6
2        0.00       29.38    30.09         13.0          4     13.4
3        0.00       29.44    30.08         13.3          2     13.4
4        0.00       29.39    30.12         11.7          7     11.9

   DayDuration    R_Humid
0          841  58.426325
1          841  54.526426
2          843  73.885706
3          843  68.614962
4          845  54.874919

Change dtypes to float for columns with float values

In [ ]:
col_list = [col for col in weather_df.select_dtypes(object).columns if col not in ["CodeSum"]]

In [ ]:
for col in col_list:
    weather_df[col] = weather_df[col].astype(float)

### Spray Data
**Cleaning spray.csv dataset**

In [ ]:
spray_df = pd.read_csv(f'{PATH}/data/spray.csv')
spray_df.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [ ]:
spray_df.shape

(14835, 4)

In [ ]:
spray_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       14835 non-null  object
 1   Time       14251 non-null  object
 2   Latitude   14835 non-null  float64
 3   Longitude  14835 non-null  float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [ ]:
spray_df.describe()

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [ ]:
spray_df.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

In [ ]:
spray_df.dropna(axis=0, inplace=True)
print(spray_df.isnull().sum())
print(spray_df.shape)

Date         0
Time         0
Latitude     0
Longitude    0
dtype: int64
(14251, 4)

In [ ]:
#keep time then i change the time in 24hr format.

spray_df['Time'] = pd.to_datetime(spray_df['Time'], 
                                  format='%I:%M:%S %p').dt.strftime('%H:%M:%S')
print (spray_df['Time'])

0        18:56:58
1        18:57:08
2        18:57:18
3        18:57:28
4        18:57:38
           ...
14830    20:34:11
14831    20:35:01
14832    20:35:21
14833    20:35:31
14834    20:35:41
Name: Time, Length: 14251, dtype: object

In [ ]:
spray_df.duplicated().sum()

541

In [ ]:
spray_df[spray_df.duplicated()]

            Date      Time   Latitude  Longitude
485   2011-09-07  19:43:40  41.983917 -87.793088
490   2011-09-07  19:44:32  41.986460 -87.794225
491   2011-09-07  19:44:32  41.986460 -87.794225
492   2011-09-07  19:44:32  41.986460 -87.794225
493   2011-09-07  19:44:32  41.986460 -87.794225
...          ...       ...        ...        ...
1025  2011-09-07  19:44:32  41.986460 -87.794225
1026  2011-09-07  19:44:32  41.986460 -87.794225
1027  2011-09-07  19:44:32  41.986460 -87.794225
1028  2011-09-07  19:44:32  41.986460 -87.794225
1029  2011-09-07  19:44:32  41.986460 -87.794225

[541 rows x 4 columns]

There is a total of 541 duplicate records under spray dataset. The date appears to be the same for all duplicates. This may be due to data collection errors hence, we would be dropping the duplicate rows.

In [ ]:
#Dropping the duplicate rows
spray_df.drop_duplicates(keep='first', inplace=True)

#Checking that there are no duplicates left
spray_df.duplicated().sum()

0

In [ ]:
spray_df['Spray Count'] = 1

spray_df.head()

         Date      Time   Latitude  Longitude  Spray Count
0  2011-08-29  18:56:58  42.391623 -88.089163            1
1  2011-08-29  18:57:08  42.391348 -88.089163            1
2  2011-08-29  18:57:18  42.391022 -88.089157            1
3  2011-08-29  18:57:28  42.390637 -88.089158            1
4  2011-08-29  18:57:38  42.390410 -88.088858            1

In [ ]:
# Convert date column to datetime
spray_df["Date"] = pd.to_datetime(spray_df["Date"])

In [ ]:
spray_df.drop(spray_df[(spray_df['Latitude'] > 42.1) & (spray_df['Longitude'] < -88)].index, inplace=True)

spray_df.shape

(13615, 5)

In [ ]:
spray_df.head(20)

          Date      Time   Latitude  Longitude  Spray Count
95  2011-09-07  19:52:52  41.981433 -87.787777            1
96  2011-09-07  19:53:02  41.980998 -87.787778            1
97  2011-09-07  19:53:12  41.980560 -87.787762            1
98  2011-09-07  19:53:22  41.980198 -87.787758            1
99  2011-09-07  19:53:32  41.979752 -87.787765            1
100 2011-09-07  19:53:42  41.979352 -87.787753            1
101 2011-09-07  19:53:52  41.978850 -87.787763            1
102 2011-09-07  19:54:02  41.978398 -87.787773            1
103 2011-09-07  19:54:12  41.977990 -87.787760            1
104 2011-09-07  19:54:22  41.977495 -87.787778            1
105 2011-09-07  19:55:42  41.975373 -87.787837            1
106 2011-09-07  19:55:52  41.974823 -87.787842            1
107 2011-09-07  19:56:02  41.974283 -87.787867            1
108 2011-09-07  19:56:12  41.973810 -87.787880            1
109 2011-09-07  19:56:22  41.973353 -87.787880            1
110 2011-09-07  19:56:32  41.972905 -87.787893            1
111 2011-09-07  19:56:42  41.972447 -87.787893            1
112 2011-09-07  19:56:52  41.971918 -87.787922            1
113 2011-09-07  19:57:02  41.971383 -87.787928            1
114 2011-09-07  19:57:12  41.970898 -87.787920            1

In [ ]:
# Create columns for Year, Month, Week
spray_df['Year'] = spray_df['Date'].dt.year
spray_df['Month'] = spray_df['Date'].dt.month
spray_df['Day'] = spray_df['Date'].dt.day
spray_df['Week'] = spray_df['Date'].dt.isocalendar().week

In [ ]:
spray_df['Year'].value_counts()

2013    12626
2011      989
Name: Year, dtype: int64

In [ ]:
# Extract dates when spraying was conducted
spray_df[["Date"]].value_counts().sort_index()

Date
2011-09-07     989
2013-07-17    2202
2013-07-25    1607
2013-08-08    1195
2013-08-15    2668
2013-08-16     141
2013-08-22    1587
2013-08-29    2302
2013-09-05     924
dtype: int64

1. In 2011, spraying was done on a two days (29 Aug 2011 and 7 Sep 2011). As the growth period (from an egg to an adult) takes approximately 8-10 days, mosquito number count will be reviewed 8 days after the spray to evaluate the effectiveness of spraying. 
2. In 2013, spraying was done mainly in August. Considering the growth period (from an egg to an adult), mosquito number count will be reviewed 8 days after the spray to evaluate the effectiveness of spraying.

### Train and Test Data

In [ ]:
# Reading the datasets into dataframes

train = pd.read_csv(f'{PATH}/data/train.csv')
test = pd.read_csv(f'{PATH}/data/test.csv')

In [ ]:
# Display first 5 rows for train data
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [ ]:
# Display first 5 rows for test data
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [ ]:
# Display summary info. 
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    10506 non-null  object
 1   Address                 10506 non-null  object
 2   Species                 10506 non-null  object
 3   Block                   10506 non-null  int64
 4   Street                  10506 non-null  object
 5   Trap                    10506 non-null  object
 6   AddressNumberAndStreet  10506 non-null  object
 7   Latitude                10506 non-null  float64
 8   Longitude               10506 non-null  float64
 9   AddressAccuracy         10506 non-null  int64
 10  NumMosquitos            10506 non-null  int64
 11  WnvPresent              10506 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.1+ KB

In [ ]:
# Display summary info. 
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116293 entries, 0 to 116292
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      116293 non-null  int64
 1   Date                    116293 non-null  object
 2   Address                 116293 non-null  object
 3   Species                 116293 non-null  object
 4   Block                   116293 non-null  int64
 5   Street                  116293 non-null  object
 6   Trap                    116293 non-null  object
 7   AddressNumberAndStreet  116293 non-null  object
 8   Latitude                116293 non-null  float64
 9   Longitude               116293 non-null  float64
 10  AddressAccuracy         116293 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 9.8+ MB

In [ ]:
# Convert date column to datetime
train["Date"] = pd.to_datetime(train["Date"])
test["Date"] = pd.to_datetime(test["Date"])

In [ ]:
# Create columns for Year, Month, Week
train['Year'] = train['Date'].dt.year
train['Month'] = train['Date'].dt.month
train['Day'] = train['Date'].dt.day
train['Week'] = train['Date'].dt.isocalendar().week

test['Year'] = test['Date'].dt.year
test['Month'] = test['Date'].dt.month
test['Day'] = test['Date'].dt.day
test['Week'] = test['Date'].dt.isocalendar().week

In [ ]:
# Display differences in the columns of train and test data
set(train.columns)-set(test.columns)

{'NumMosquitos', 'WnvPresent'}

**Observations**:

1. For the train data, there are a total of 12 features and about 10,000 entries
2. For the test data, there are a total of 11 columns and about 115k entries.
3. In test data, id is required as part of the csv file for submission. 
4. The test data does not include `NumMosquitos`, `WnvPresent` columns, compared to the train data. 
  - Since `NumMosquitos` is not in test data, it may not be used in the prediction model.
  - `WnvPresent` is the target column to be predicted.

**Trap Info**

In [ ]:
# Number of traps
train['Trap'].nunique()

136

**Trap Locations**

In [ ]:
# Create Dataframe to check if location of trap is consistent throughout mosquito collection.  
trap_add = train.groupby(by=['Trap','Latitude','Longitude']).sum()[['NumMosquitos', 'WnvPresent']].reset_index()

In [ ]:
# Extract trap that do not have consistent locations. 
trap_add[trap_add[['Trap']].duplicated()]

    Trap   Latitude  Longitude  NumMosquitos  WnvPresent
9   T009  41.992478 -87.862995          1477           6
27  T035  41.836644 -87.677737            94           1

In [ ]:
# Display trap data for T009 and T035
trap_add[(trap_add['Trap']=='T009') | (trap_add['Trap']=='T035')]

    Trap   Latitude  Longitude  NumMosquitos  WnvPresent
8   T009  41.981964 -87.812827           463           3
9   T009  41.992478 -87.862995          1477           6
26  T035  41.763733 -87.742302           215           2
27  T035  41.836644 -87.677737            94           1

In [ ]:
# Rename Trap name for T009 and T035
# Trap at [41.992478, -87.862995] to rename as T009A

T009A_index = train[(train['Latitude'] == 41.992478) & (train['Longitude'] == -87.862995)].index

for i in T009A_index:
    train.loc[i, 'Trap'] = 'T009A'
    
T009A_index = test[(test['Latitude'] == 41.992478) & (test['Longitude'] == -87.862995)].index

for i in T009A_index:
    test.loc[i, 'Trap'] = 'T009A'

In [ ]:
# Trap at [41.836644, -87.677737] to rename as T035A

T035A_index = train[(train['Latitude'] == 41.836644) & (train['Longitude'] == -87.677737)].index

for i in T035A_index:
    train.loc[i, 'Trap'] = 'T035A'
    
T035A_index = test[(test['Latitude'] == 41.836644) & (test['Longitude'] == -87.677737)].index

for i in T035A_index:
    test.loc[i, 'Trap'] = 'T035A'

**Address Accuracy**

In [ ]:
# Get unique values for "AddressAccuracy"
train["AddressAccuracy"].unique()

array([9, 8, 5, 3])

In [ ]:
# Display Data for low address accuracy
# These address are very generic and may not be useful in determining the locations. 
col = ['Trap', 'Date', 'Address', 'Latitude', 'Longitude', 'AddressAccuracy', 'NumMosquitos', 'WnvPresent']
train[train["AddressAccuracy"]<5][col]

,Trap,Date,Address,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
69,T145,2007-06-05,"Chicago, IL, USA",41.878114,-87.629798,3,3,0
127,T145,2007-06-26,"Chicago, IL, USA",41.878114,-87.629798,3,1,0
179,T145,2007-06-29,"Chicago, IL, USA",41.878114,-87.629798,3,1,0
237,T145,2007-07-02,"Chicago, IL, USA",41.878114,-87.629798,3,1,0
342,T145,2007-07-11,"Chicago, IL, USA",41.878114,-87.629798,3,3,0
...,...,...,...,...,...,...,...,...
10049,T145,2013-09-06,"Chicago, IL, USA",41.878114,-87.629798,3,10,0
10050,T145,2013-09-06,"Chicago, IL, USA",41.878114,-87.629798,3,27,0
10191,T145,2013-09-12,"Chicago, IL, USA",41.878114,-87.629798,3,1,0
10326,T145,2013-09-19,"Chicago, IL, USA",41.878114,-87.629798,3,9,0
10433,T145,2013-09-26,"Chicago, IL, USA",41.878114,-87.629798,3,2,0

In [ ]:
# T145 trap has low address accuracy. 
train[train["AddressAccuracy"]<5][col]['Trap'].unique()

array(['T145'], dtype=object)

In [ ]:
# The NumMosquitos caught and the Wnv Present over the years are insignificant
# Hence, these rows will be dropped
train[train["AddressAccuracy"]<5][col].sum()[['NumMosquitos', 'WnvPresent']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

NumMosquitos    402
WnvPresent        1
dtype: object

In [ ]:
train[train["AddressAccuracy"]<5].index

Int64Index([   69,   127,   179,   237,   342,   343,   557,   728,   729,
              929,   930,   931,   932,   933,   934,   935,   936,   937,
              938,  1542,  1543,  1544,  1545,  1868,  1869,  2246,  2247,
             2248,  2249,  2582,  2583,  2584,  2585,  3231,  3232,  3304,
             3460,  3461,  3659,  4215,  4362,  4363,  4483,  4772,  4923,
             5590,  5591,  5772,  6140,  6246,  6247,  6348,  6471,  6472,
             6616,  6791,  6792,  6971,  7107,  7108,  7244,  7366,  7492,
             7493,  7584,  7585,  7712,  7713,  7844,  7965,  8061,  8126,
             8217,  8218,  8334,  8572,  8880,  8881,  9063,  9217,  9218,
             9407,  9587,  9588,  9746,  9907, 10049, 10050, 10191, 10326,
            10433],
           dtype='int64')

In [ ]:
# Drop rows with low address accuracy. 
train.drop(index=train[train["AddressAccuracy"]<5].index, 
           inplace=True)

In [ ]:
# As location could be represented by Latitude and Longitude,
# redundant address related columns will not be included in data.

train.drop(columns=["AddressNumberAndStreet", "Block", "Street", "AddressAccuracy"], 
           inplace=True)
test.drop(columns=["AddressNumberAndStreet", "Block", "Street", "AddressAccuracy"], 
           inplace=True)

**Checking for null values and duplicates**

**Null Values**
- There are no null values in both train and test data.

**Duplicated entries**
- Out of 10,506 entries, 813 entries are duplicated. 
- As results are organized in such a way that when the number of mosquitos exceed 50, they are split into another record (another row in the dataset), such that the number of mosquitos are capped at 50. Hence, duplicated rows will not be dropped.

In [ ]:
# No null values in train data
train.isnull().sum()

Date            0
Address         0
Species         0
Trap            0
Latitude        0
Longitude       0
NumMosquitos    0
WnvPresent      0
Year            0
Month           0
Day             0
Week            0
dtype: int64

In [ ]:
# No null values in test data
test.isnull().sum()

Id           0
Date         0
Address      0
Species      0
Trap         0
Latitude     0
Longitude    0
Year         0
Month        0
Day          0
Week         0
dtype: int64

In [ ]:
# Check for duplicates 
train.duplicated().value_counts()

False    9604
True      811
dtype: int64

In [ ]:
# As results are organized in such a way that when the number of mosquitos exceed 50, 
# they are split into another record (another row in the dataset), 
# such that the number of mosquitos are capped at 50. 
# Hence, duplicated rows will not be dropped.  

# Display unique values in 'NumMosquitos' column
train[train.duplicated()][['NumMosquitos']].value_counts()

NumMosquitos
50              707
1                44
2                16
3                14
5                 4
9                 3
4                 3
8                 2
43                2
28                1
48                1
46                1
45                1
40                1
39                1
37                1
21                1
26                1
23                1
16                1
15                1
13                1
12                1
10                1
18                1
dtype: int64

In [ ]:
# No duplicates value for test data
test.duplicated().value_counts()

False    116293
dtype: int64

**Create Weather Station Column**

Create `Station` column so that it can be merged with weather data.
- Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: 87.933 Elev: 662 ft. above sea level
- Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [ ]:
# Define function to map Station 1 or 2
def input_station(lat:int, lng:int):
    stn1 = (41.995, -87.933)
    stn2 = (41.786, -87.752)
    coord = (lat, lng)
    
    if (geodesic(coord, stn1) 
        < geodesic(coord, stn2)):
        return 1
    
    else:
        return 2

In [ ]:
# Create Station Column and map station
train_merged = train.copy()
train_merged['Station'] = train_merged.apply(
    lambda x: input_station(x['Latitude'], x['Longitude']), 
    axis=1
)

test_merged = test.copy()
test_merged['Station'] = test_merged.apply(
    lambda x: input_station(x['Latitude'], x['Longitude']), 
    axis=1
)

### Merge and Save Data

In [ ]:
# Merge the Train/Test and Weather data
train_merged = train_merged.merge(weather_df, how="left", on=["Station", "Date"])

test_merged = test_merged.merge(weather_df, how="left", on=["Station", "Date"])

In [ ]:
# Save Train/Test merged and spray dataset
train_merged.to_csv(f'{PATH}data/train_merged.csv', index=False)
test_merged.to_csv(f'{PATH}data/test_merged.csv', index=False)

spray_df.to_csv(f'{PATH}data/spray_cleaned.csv', index=False)

# <center> **End of Notebook**